---
---

@import "{{ site.theme }}";

.btn-win .icon {
  opacity: 0.6;
  background: url("../images/win.png") 0 0 no-repeat;
}

.btn-android .icon {
  opacity: 0.6;
  background: url("../images/win.png") 0 0 no-repeat;
}
